<p>
  list works!
</p>
<nav>
  <a 
    [routerLink]="['numbers', 'numbersParam']" 
    routerLinkActive="active">
    Numbers
  </a>
  <a 
    [routerLink]="['letters', 'lettersParam']" 
    routerLinkActive="active">
    Letters
  </a>
  <a 
    [routerLink]="['symbols', 'symbolsParam']" 
    routerLinkActive="active">
    Symbols
  </a>
</nav>
<router-outlet></router-outlet>
<app-counter-buttons
  [counter]="counterService.counter"
  (increment)="counterService.increment()"
  (decrement)="counterService.decrement()">
</app-counter-buttons>
