<p>
  list works!
</p>
<nav>
  <a 
    routerLink="numbers" 
    routerLinkActive="active">
    Numbers
  </a>
  <a 
    routerLink="letters" 
    routerLinkActive="active">
    Letters
  </a>
  <a 
    routerLink="symbols" 
    routerLinkActive="active">
    Symbols
  </a>
</nav>
<router-outlet></router-outlet>
<app-button
  text="Lazy Increment"
  (clicked)="counterService.increment()">
</app-button>
<app-button
  text="Lazy Decrement"
  (clicked)="counterService.decrement()">
</app-button>
{{ counterService.counter }}
