<div style="border: 1px solid black; padding: 5px">
<nav>
  <a 
    [routerLink]="['numbers', 'numbersParam']" 
    routerLinkActive="active">
    Numbers
  </a>
  <a 
    [routerLink]="['letters', 'lettersParam']" 
    routerLinkActive="active">
    Letters
  </a>
  <a 
    [routerLink]="['symbols', 'symbolsParam']" 
    routerLinkActive="active">
    Symbols
  </a>
</nav>
<router-outlet></router-outlet>
<app-counter-buttons
  [counter$]="counterService.counter$"
  (increment)="counterService.increment()"
  (decrement)="counterService.decrement()">
</app-counter-buttons>
